
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
}
.customContainer {
    margin-top: 300px;
    background-color: #669D31;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.customContainer p {
    font-size: 30px;
    margin-bottom: 25px;
}
.customContainer button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn {
    font-size: 23px;
    background-color: #e74c3c;
    color: #fff;
}
.home-btn {
    font-size: 23px;
    background-color: #3498db;
    color: #fff;
}
